In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [3]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [6]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [8]:
geography = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [9]:
X = pd.concat([X, geography, gender], axis=1)

In [10]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [11]:
X = X.drop(['Geography', 'Gender'], axis=1)

In [12]:
X.shape

(10000, 11)

In [13]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [14]:
y.shape

(10000,)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

In [17]:
X_test = sc.transform(X_test)

In [18]:
X_train.shape

(8000, 11)

In [19]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [20]:
from tensorflow import  keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

In [21]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                             min_value=32,
                                             max_value=512,
                                             step=32), 
                              activation='relu'))
        model.add(layers.Dense(1, activation='sigmoid'))
        model.compile(
            optimizer = keras.optimizers.Adam(
                hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
            loss='binary_crossentropy',
            metrics=['accuracy'])
        return model

In [23]:
tuner = RandomSearch(
    build_model, objective='val_accuracy',
     max_trials=5, 
     executions_per_trial=3,
     directory='ANN',
    project_name='Churn1')

In [31]:
tuner.get_best_hyperparameters

In [25]:
tuner.search(X_train, y_train,
             epochs=5,
             validation_data=(X_test, y_test))

Trial 5 Complete [00h 00m 08s]
val_accuracy: 0.8191666603088379

Best val_accuracy So Far: 0.8666666547457377
Total elapsed time: 00h 00m 39s
INFO:tensorflow:Oracle triggered exit

In [27]:
models  =tuner.get_best_models(num_models=5)

[<tensorflow.python.keras.engine.sequential.Sequential at 0x20af9637ac8>,
 <tensorflow.python.keras.engine.sequential.Sequential at 0x20af95eef28>,
 <tensorflow.python.keras.engine.sequential.Sequential at 0x20af95eef98>,
 <tensorflow.python.keras.engine.sequential.Sequential at 0x20afa6b8358>,
 <tensorflow.python.keras.engine.sequential.Sequential at 0x20afb84b0b8>]

In [30]:
tuner.results_summary()

Results summary
Results in ANN\Churn1
Showing 10 best trials
Objective(name='val_accuracy', direction='max')
Trial summary
Hyperparameters:
num_layers: 8
units_0: 256
learning_rate: 0.001
Score: 0.8666666547457377
Trial summary
Hyperparameters:
num_layers: 17
units_0: 128
learning_rate: 0.01
Score: 0.8643333315849304
Trial summary
Hyperparameters:
num_layers: 20
units_0: 416
learning_rate: 0.001
Score: 0.8629999955495199
Trial summary
Hyperparameters:
num_layers: 14
units_0: 160
learning_rate: 0.0001
Score: 0.8195000092188517
Trial summary
Hyperparameters:
num_layers: 17
units_0: 160
learning_rate: 0.0001
Score: 0.8191666603088379